* {
  border: none;
}

body {
  background-color: #f8f9fa;
  margin-top: 2rem;
}

.keypad {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-top: 20px;
}

.calculator {
  background-color: #000;
  margin: 2rem;
  border: 1px;
  max-width: 300px;
  margin: 0 auto;
  padding: 60px 50px;
  border-radius: 16px;
  align-items: center;
}

.calculator .border input {
  width: 100%;
  font-size: 30px;
  text-align: right;
  background-color: #000;
  color: #fff;
  border: none;
  margin: 0 auto;
  height: 9vh;
  padding-top: 1rem;
}

input::placeholder {
  color: #ddd;
  text-align: right;
  font-size: 69px;
}

.row {
  display: flex;
  margin: 0 auto;
  gap: 16px;
  max-width: 400px;
  font-size: 30px;
}

.row1 {
  display: flex;
  margin: 0 auto;
  max-width: 400px;
  gap: 16px;
  font-size: 30px;
  width: fit-content;
}

.greybg {
  background-color: #afafaf;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 24px;
  width: fit-content;
  height: fit-content;
}

.darkbg {
  background-color: #262626;
  color: #fff;
  font-size: 27px;
  padding: 16px 24px;
  border-radius: 50%;
  text-align: center;
}

.oranbg {
  background-color: #ffae00;
  font-size: 40px;
  padding: 8px 16px;
  border-radius: 2rem;
  height: fit-content;
  width: fit-content;
}

#zero {
  background-color: #262626;
  color: #fff;
  font-size: 50px;
  height: fit-content;
  width: 8vw;
  padding: 3px;
  border-radius: 2rem;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
}