* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{
  background-color: #000;
  height: 80vh;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  
}

#calc-display{
  text-align: right;
  width: 100%;
  max-width: 50vh;
  height: 9vh;
  font-size: 2rem;
  color: #fff;
  margin: 2rem;
  cursor: pointer;
  background-color: #860808;
}

.keypad{
  gap: 10px;
  width: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}

.row{
  display: flex;
  max-width: fit-content;
  margin: 0 auto;
  gap: 5px;
}

.row1{
  display: flex;
  max-width: fit-content;
  margin: 0 auto;
  gap: 5px;
}

.number {
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}